:root{
    --width: 250px;
    --height: 250px;
}
.aboutContainer{
    padding: 5rem 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-color: transparent;
    perspective: 800px;
    perspective-origin: top center;
}
.profileCaption{
    background-color: var(--bg-color);
    padding: 20px 10px;
    height: 300px;
    width: 350px;
    max-width: 350px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    width: fit-content;
    box-shadow: 4px 4px 0px 0px var(--primary-color);
    border: 2px solid var(--primary-color);
    transform: rotateY('40deg');
}
.profileCaption h3{
    font-size: 2em;
}
.profileCaption h4{
    font-size: 1.2em;
}
.profileCaption .pc-description{
    padding: 20px 10px;
}
.pc-img{
    width: var(--width);
    height: var(--height);
    margin-right: -125px;
    min-width: var(--width);
    width: var(--width);
    border-radius: 32px;
    background-image: url(../images/pp.jpeg);
    background-size: cover;
    border: 8px solid white;
}
.profileDescription{
    font-size: 1.3em;
    max-width: 450px;
}