:root{
    --width: 250px;
    --height: 250px;
}
.aboutme{
    padding: 5rem 0px;
}
.aboutContainer{
    padding: 5rem 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-color: transparent;
}
.profileCaption{
    background-color: var(--bg-color);
    padding: 20px 10px;
    height: 300px;
    width: 350px;
    max-width: 350px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    width: fit-content;
    box-shadow: 4px 4px 0px 0px var(--primary-color);
    border: 2px solid var(--primary-color);
    transform: rotateY('40deg');
}
.profileCaption h3{
    font-size: 2em;
}
.profileCaption h4{
    font-size: 1.2em;
}
.profileCaption .pc-description{
    padding: 20px 10px;
}
.pc-img{
    width: var(--width);
    height: var(--height);
    margin-right: -125px;
    min-width: var(--width);
    border-radius: 32px;
    background-image: url(../images/pp.jpeg);
    background-size: cover;
    border: 8px solid white;
}
.profileDescription{
    font-size: 1.3em;
    max-width: 450px;
}
@media screen and (max-width: 1110px) {
    .aboutContainer{
        gap: 100px;
    }
    .profileDescription{
        font-size: 1.2em;
        max-width: 350px;
    }
    .profileCaption .pc-description{
        padding: 15px 5px;
    }
    .pc-img{
        margin-right: -100px;
    }
}
@media  screen and (max-width: 968px) {
    .pc-img{
        width: 220px;
        height: 220px;
        min-width: 220px;
    }
    .profileDescription{
        font-size: 1.2em;
        max-width: 320px;
    }
}
@media  screen and (max-width: 888px) {
    .aboutContainer{
        gap: 50px;
        flex-direction: column;
    }
    .profileCaption{
        height: 250px;
        width: 350px;
        max-width: 350px;
    }
    .profileDescription{
        text-align: center;
        max-width: 100%;
    }
}
@media screen and (max-width: 560px) {
    .profileCaption{
        transform: scale(0.90);
        margin-left: -90px;
        max-width: 300px;
    }
    .pc-img{
        margin-right: -100px;
    }    
}
@media screen and (max-width: 408px) {
    .aboutContainer{
        gap: 20px;
    }
    .profileCaption{
        transform: scale(0.80);
    } 
}