.btn{
    color: var(--border-color);
    background-color: var(--primary-color);
    padding: 8px 11px;
    border: 1px solid var(--border-color);
    box-shadow: 2px 4px 0px 0px var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.1s;
    font-size: 1.1em;
}

.btn.bold{
    font-weight: bold;
}

.btn:hover{
    box-shadow: 1px 1px 0px 0px var(--border-color);
    transform: translateY(5px);
}

.btn.btn-light{
    background-color: var(--white);
}