.btn{
    color: var(--white);
    background-color: var(--primary-color);
    padding: 8px 20px;
    border: 1px solid var(--border-color);
    box-shadow: 0.125rem 0.25rem 0px 0px var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.2s;
    font-size: 1.1em;
    font-family: 'poppins';
}
.btn.bold{
    font-weight: bold;
}

.btn:hover{
    box-shadow: 1px 1px 0px 0px var(--border-color);
    transform: translateY(00.3125rem);
}
.btn svg{
    font-size: 1em;
    margin-right: 5px;
}
.btn.btn-light{
    color: var(--black);
    background-color: var(--white);
}
.btn.btn-light svg{
    color: var(--primary-color);
}
.btn.loading{
    cursor: not-allowed;
    color: var(--text-secondary);
}