.btn{
    color: var(--border-color);
    background-color: var(--primary-color);
    padding: 0.5rem 0.8rem;
    border: 1px solid var(--border-color);
    box-shadow: 0.125rem 0.25rem 0px 0px var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.1s;
    font-size: 1.1em;
}

.btn.bold{
    font-weight: bold;
}

.btn:hover{
    box-shadow: 1px 1px 0px 0px var(--border-color);
    transform: translateY(00.3125rem);
}

.btn.btn-light{
    background-color: var(--white);
}