.scholar-career{
    max-width: 350px;
    min-width: 350px;
    display: flex;
    gap: 5px;
    opacity: 1;
}
.scholar-career .step{
    font-size: 2em;
    display: inline-flex;
    min-height: 50px;
    min-width: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
    align-items: center;
    border: 2px solid var(--black);
    justify-content: center;
}
.scholar-career_container .career.left{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: 21px; 
    flex-direction: row-reverse;  
}
.scholar-career_container .career.left .scholar-career{
    flex-direction: row-reverse;
}
.scholar-career_container .career{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: -19px;
    transition: all 0.4s;
    transform: translateX(-100px);
    opacity: 0;
}
.scholar-career_container .career.visible{
    transform: translateX(0px);
    opacity: 1;
}
.career .timeline{
    display: flex;
    flex-direction: column;
}
.career h4{
    font-size: 0.8em;
}
.career .badge{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background: white;
    margin: 3px 0px;
    padding: 3px 5px;
    font-size: 0.8em;
    border: 1px solid var(--black);
    border-radius: 20px;
    position: relative;
    align-self: flex-end;
    cursor: pointer;
    overflow: hidden;
    z-index: 10;
}
.career .badge::before{
    content: '';
    position: absolute;
    border-radius: 20px;
    left: 0px;
    top: 0px;
    z-index: -1;
    transition: all 0.2s;
    height: 100%;
    width: 0px;
    background-color: var(--primary-color);
}
.career .badge:hover::before{
    width: 100%;
}
.indicator{
    background-color: var(--white);
    display: inline-block;
    border: 2px solid var(--black);
    min-height: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
}
@media  screen and (max-width: 915px) {
    .scholar-career{
        max-width: 300px;
        min-width: 300px;
    }
}
@media  screen and (max-width: 720px) {
    .scholar-career{
        max-width: 250px;
        min-width: 250px;
    } 
    .scholar-career.card{
        padding: 15px 10px;
        font-size: 1em;
    }
    .scholar-career .step{
        font-size: 1.8em;
        min-height: 40px;
        min-width: 40px;
        height: 40px;
        width: 40px;
    } 
}
@media screen and (max-width: 597px) {
    .career .scholar-career{
        flex-wrap: wrap;
        min-width: calc(100vw - 100px);
    }
}