.scholar-career{
    max-width: 21.875rem;
    min-width: 21.875rem;
    display: flex;
    gap: 0.3125rem;
    opacity: 1;
}
.scholar-career .step{
    font-size: 2em;
    display: inline-flex;
    min-height: 3.125rem;
    min-width: 3.125rem;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    align-items: center;
    border: 2px solid var(--black);
    justify-content: center;
}
.scholar-career_container .career.left{
    display: flex;
    gap: 0.625rem;
    margin-top: 0.625rem;
    margin-left: 1.3125rem; 
    flex-direction: row-reverse;  
}
.scholar-career_container .career.left .scholar-career{
    flex-direction: row-reverse;
}
.scholar-career_container .career{
    display: flex;
    gap: 0.625rem;
    margin-top: 0.625rem;
    margin-left: -1.3125rem;
    transition: all 0.4s;
    transform: translateX(0);
    opacity: 1;
}
.scholar-career_container .career.visible{
    transform: translateX(0px);
    opacity: 1;
}
.career .timeline{
    display: flex;
    flex-direction: column;
}
.career h4{
    font-size: 0.8em;
}
.career .badge{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background: white;
    margin: 3px 0px;
    padding:  0.1875rem;
    font-size: 0.8em;
    border: 1px solid var(--black);
    border-radius: 1.25rem;
    position: relative;
    align-self: flex-end;
    cursor: pointer;
    overflow: hidden;
    z-index: 10;
}
.career .badge::before{
    content: '';
    position: absolute;
    border-radius: 1.25rem;
    left: 0px;
    top: 0px;
    z-index: -1;
    transition: all 0.2s;
    height: 100%;
    width: 0px;
    background-color: var(--primary-color);
}
.career .badge:hover::before{
    width: 100%;
}
.indicator{
    background-color: var(--white);
    display: inline-block;
    border: 2px solid var(--black);
    min-height: 2.5rem;
    min-width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
@media  screen and (max-width: 915px) {
    .scholar-career{
        max-width: 18.75rem;
        min-width: 18.75rem;
    }
}
@media  screen and (max-width: 720px) {
    .scholar-career{
        max-width: 16rem;
        min-width: 16rem;
    } 
    .scholar-career.card{
        padding: 0.99rem 0.6rem;
        font-size: 1em;
    }
    .scholar-career .step{
        font-size: 1.8em;
        min-height: 2.5rem;
        min-width: 2.5rem;
        height: 2.5rem;
        width: 2.5rem;
    } 
}
@media screen and (max-width: 597px) {
    .career .scholar-career{
        flex-wrap: wrap;
        min-width: calc(100vw - 6.25rem);
    }
}