.easter-egg{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 3.5rem;
    z-index: 9999;
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.2s;
}
@keyframes shake {
    0% { transform: translate(0, 0) rotate(0) scale(1.08); }
    10% { transform: translate(-2px, 0) rotate(-10deg) scale(1.08); }
    20% { transform: translate(2px, 0) rotate(10deg) scale(1.08); }
    30% { transform: translate(-2px, 0) rotate(-10deg) scale(1.08); }
    40% { transform: translate(2px, 0) rotate(10deg) scale(1.08); }
    50% { transform: translate(0, 0) rotate(0) scale(1.08); }   
    60% { transform: translate(-2px, 0) rotate(-10deg) scale(1.08); }
    70% { transform: translate(2px, 0) rotate(10deg) scale(1.08); }
    80% { transform: translate(-2px, 0) rotate(-10deg) scale(1.08); }
    90% { transform: translate(2px, 0) rotate(10deg) scale(1.08); }
    100% { transform: translate(0, 0) rotate(0) scale(1.08); }
}
.easter-egg:hover{
    animation: shake 0.5s;
}