.experience{
    font-size: 0.9em;
    margin-top: 20px;
}

.experience .line{
    display: flex;
    justify-content: space-between;
}
.experience .line:not(.experience .line:nth-of-type(1)){
    margin-top: 5px;
}
.experience ul{
    margin-top: 5px;
    margin-left: 30px;
    color: var(--text-secondary);
}
.experience .line:nth-of-type(1){
    font-size: 1.1em;
}
@media screen and (max-width: 1100px){
    section.experiences{
        padding: 60px;
    }
}
@media  screen and (max-width: 915px) {
    section.experiences{
        padding: 20px;
    }
}