.experience{
    font-size: 0.9em;
    margin-top: 1.25rem;
}

.experience .line{
    display: flex;
    justify-content: space-between;
}
.experience .line:not(.experience .line:nth-of-type(1)){
    margin-top: 0.3125rem;
}
.experience ul{
    margin-top: 0.3125rem;
    margin-left: 1.875rem;
    color: var(--text-secondary);
}
.experience .line:nth-of-type(1){
    font-size: 1.1em;
}
@media screen and (max-width: 1100px){
    section.experiences{
        padding: 3.75rem;
    }
}
@media  screen and (max-width: 915px) {
    section.experiences{
        padding: 2.5rem;
    }
}