.experience{
    font-size: 0.9em;
    margin-top: 1.5rem;
}

.experience .line{
    display: flex;
    justify-content: space-between;
}
.experience .line:not(.experience .line:nth-of-type(1)){
    margin-top: 0.3125rem;
}
.experience ul{
    margin-top: 0.3125rem;
    margin-left: 1.875rem;
    font-size: 1.1em;
    color: var(--text-secondary);
}
.experience .line:nth-of-type(1){
    font-size: 1.3em;
}
.experience .tools_container{
    display: flex;
    padding: 8px 0px;
    flex-direction: column;
}
.experience .toools{
    display: flex;
    flex-direction: row;
    gap: 5px;
    max-width: 350px;
    flex-wrap: wrap;
}
.experience .tools{
    background-color: white;
    display: inline-flex;
    height: 25px;
    width: fit-content;
    border-radius: 20px;
    border: 2px solid var(--black);
    padding: 10px 8px;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1100px){
    section.experiences{
        padding: 3.75rem;
    }
}
@media  screen and (max-width: 915px) {
    section.experiences{
        padding: 2.5rem;
    }
}