section{
    padding: 80px;
}
section:nth-of-type(odd){
    background-color: var(--bg-color);

}
section:nth-of-type(even){
    background-color: var(--bg-fade-color);
}
section.hero{
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 70vh;
}
.heroDescription h4{
    display: flex;
    font-size: 1.6em;
    align-items: center;
}
.heroDescription h4::before{
    content: '';
    width: 150px;
    height: 1px;
    margin-right: 2px;
    background-color: var(--border-color);
}
.heroDescription h3{
    font-size: 2em;
}
.heroDescription h1{
    font-size: 5em;
}
.heroDescription .actions{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.heroImg{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 4px solid var(--border-color);
}
.heroImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section.resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 30px;
}
.skillsResume_container{
    padding: 40px 0px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
section.skills{
    /* background-color: var(--bg-color); */
}
.skills_container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 0px;
}
section.education{
    padding: 80px 20px;
}
.scholar-career_container {
    padding: 40px 10px;
    position: relative;
    display: flex;
    justify-content: center;
}
.scholar-career{
    max-width: 350px;
    min-width: 350px;
    display: flex;
    gap: 5px;
}
.scholar-career .step{
    font-size: 2em;
    display: inline-flex;
    min-height: 50px;
    min-width: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
    align-items: center;
    border: 2px solid var(--black);
    justify-content: center;
}
.scholar-career_container .sliderLevel{
    height: auto;
    width: 5px;
    border-radius: 10px;
    background-color: var(--primary-color);
    border: 2px solid var(--black);
    margin: auto;
    /* padding: 60px 0px; */
    position: relative;
}
.scholar-career_container .scrolling-indicator {
    background-color: var(--primary-color);
    border: 2px solid var(--black);
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    transition: transform 0.1s ease-out;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2;
    will-change: transform; 
}
.scholar-career_container .career.left{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: 21px; 
    flex-direction: row-reverse;  
}
.scholar-career_container .career.left .scholar-career{
    flex-direction: row-reverse;
}
.scholar-career_container .career{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: -19px;
}
.scholar-career_container .indicator{
    background-color: var(--white);
    display: inline-block;
    border: 2px solid var(--black);
    min-height: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
}
@media screen and (max-width: 1100px){
    section.hero{
        padding: 60px;
    }
    .heroDescription h4{
        font-size: 1.4em;
    }
    .heroDescription h4::before{
        width: 120px;
    }
    .heroDescription h3{
        font-size: 1.8em;
    }
    .heroDescription h1{
        font-size: 4.5em;
    }
    .heroImg{
        width: 280px;
        height: 280px;
    }
    .heroImg img{
        width: 100%;
        height: 100%;
    }
    .hero img{
        width: 100%;
    }
    section.skills{
        padding: 60px;
    }
}
@media  screen and (max-width: 915px) {
    section.hero{
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 40px;
        padding-top: 90px;
    }
    .heroDescription{
       text-align: center;
    }
    .heroDescription h1{
        font-size: 4em;
        text-align: center;
    }
    .heroDescription .actions{
        padding: 20px 0px;
        justify-content: center;
    }
    .heroImg{
        margin: 40px 0px;
    }
    section.skills{
        padding: 40px;
    }
    .scholar-career{
        max-width: 300px;
        min-width: 300px;
    }
}
@media  screen and (max-width: 720px) {
    .scholar-career{
        max-width: 250px;
        min-width: 250px;
    } 
    .scholar-career.card{
        padding: 15px 10px;
        font-size: 1em;
    }
    .scholar-career .step{
        font-size: 2em;
        display: inline-flex;
        min-height: 40px;
        min-width: 40px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: var(--primary-color);
        align-items: center;
        border: 2px solid var(--black);
        justify-content: center;
    } 
}