section{
    padding: 5rem;
}
section:nth-of-type(odd){
    background-color: var(--bg-color);

}
section:nth-of-type(even){
    background-color: var(--bg-fade-color);
}
section.hero{
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 75vh;
}
.heroDescription h4{
    display: flex;
    font-size: 1.6em;
    align-items: center;
}
.heroDescription h4::before{
    content: '';
    width: 9.375rem;
    height: 1px;
    margin-right: 2px;
    background-color: var(--border-color);
}
.heroDescription h3{
    font-size: 2em;
}
.heroDescription h1{
    font-size: 6.5em;
}
.heroDescription .actions{
    padding: 1.25rem 0px;
    display: flex;
    align-items: center;
    gap: 0.625rem;
}
.heroImg{
    border-radius: 50%;
    width: 18.125rem;
    height: 18.125rem;
    position: relative;
    border: 0.25rem solid var(--border-color);
}
.heroImg .profil{
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}
.heroImg .s{
    position: absolute;
    bottom: -1.25rem;
    left: 0px;
}
.heroImg .r{
    position: absolute;
    top: 0px;
    right: -30px;
}
section.resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 1.875rem;
}
.skillsResume_container{
    padding: 2.5rem 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: center;
}
.skills_container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 0.9375rem;
    padding: 2.5rem 0px;
}
section.education{
    padding: 5rem 1.25rem;
}
.scholar-career_container {
    padding: 2.5rem 0.625rem;
    position: relative;
    display: flex;
    justify-content: center;
}
.scholar-career_container .sliderLevel{
    height: auto;
    width: 0.3125rem;
    border-radius: 0.625rem;
    background-color: var(--primary-color);
    border: 2px solid var(--black);
    margin: auto;
    /* padding: 60px 0px; */
    position: relative;
}
.scholar-career_container .scrolling-indicator {
    background-color: var(--primary-color);
    border: 2px solid var(--black);
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    transition: transform 0.1s ease-out;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    z-index: 2;
    will-change: transform; 
}
.experience_container{
    padding: 3.75rem 0px;
}
.projects-container_header{
    position: sticky;
    top: 5.625rem;
    background-color: var(--bg-fade-color);
    z-index: 102;
}
.projects_container .my-projects{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 200px);
    gap: 0.625rem;
    padding: 0.625rem;
    width: 100%;
}
@media screen and (max-width: 1100px){
    section.experiences{
        padding: 60px;
    }
    section.projects{
        padding: 3.75rem 1.25rem;
    }
    .heroDescription h1{
        font-size: 5.5em;
    }
}
@media  screen and (max-width: 940px) {
    section.hero{
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 2.5rem;
        padding-top: 5.625rem;
    }
    .heroDescription{
       text-align: center;
    }
    .heroDescription h1{
        font-size: 5em;
        line-height: 5.625rem;
        text-align: center;
    }
    .heroDescription .actions{
        padding: 1.25rem 0px;
        justify-content: center;
    }
    .heroImg{
        width: 18.125rem;
        height: 18.125rem;
        margin: 2.5rem 0px;
    }
    section.skills{
        padding: 2.5rem 0px;
    }
    .scholar-career{
        max-width: 18.75rem;
        min-width: 18.75rem;
    }
}
@media  screen and (max-width: 720px) {
    .heroDescription h4::before{
        width: 5rem;
    }
    .scholar-career{
        max-width: 15.625rem;
        min-width: 15.625rem;
    } 
    .scholar-career.card{
        padding: 0.93675rem 0.625rem;
        font-size: 1em;
    }
    .scholar-career .step{
        font-size: 1.8em;
        min-height: 2.5rem;
        min-width: 2.5rem;
        height: 2.5rem;
        width: 2.5rem;
    } 
}
@media screen and (max-width: 615px) {
    .projects_container .my-projects{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    section.projects{
        padding: 3.75rem 0.625rem;
    }
}
@media screen and (max-width: 597px) {
    .scholar-career_container div.sliderLevel{
        margin-left: 0px;
    }
    .career .scholar-career{
        flex-wrap: wrap;
        min-width: calc(100vw - 6.25rem);
    }
    .heroDescription h4{
        flex-direction: column;
        padding: 1.25rem 0px;
        position: relative;
    }
    .heroDescription h4::before{
        position: absolute;
        margin: 0px;
        width: 6.3125rem;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
}