section{
    padding: 80px;
}
section:nth-of-type(odd){
    background-color: var(--bg-color);

}
section:nth-of-type(even){
    background-color: var(--bg-fade-color);
}
section.hero{
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 75vh;
}
.heroDescription h4{
    display: flex;
    font-size: 1.6em;
    align-items: center;
}
.heroDescription h4::before{
    content: '';
    width: 150px;
    height: 1px;
    margin-right: 2px;
    background-color: var(--border-color);
}
.heroDescription h3{
    font-size: 2em;
}
.heroDescription h1{
    font-size: 6.5em;
}
.heroDescription .actions{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.heroImg{
    border-radius: 50%;
    width: 290px;
    height: 290px;
    position: relative;
    border: 4px solid var(--border-color);
}
.heroImg .profil{
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}
.heroImg .s{
    position: absolute;
    bottom: -20px;
    left: 0px;
}
.heroImg .r{
    position: absolute;
    top: 0px;
    right: -30px;
}
section.resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 30px;
}
.skillsResume_container{
    padding: 40px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.skills_container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 40px 0px;
}
section.education{
    padding: 80px 20px;
}
.scholar-career_container {
    padding: 40px 10px;
    position: relative;
    display: flex;
    justify-content: center;
}
.scholar-career_container .sliderLevel{
    height: auto;
    width: 5px;
    border-radius: 10px;
    background-color: var(--primary-color);
    border: 2px solid var(--black);
    margin: auto;
    /* padding: 60px 0px; */
    position: relative;
}
.scholar-career_container .scrolling-indicator {
    background-color: var(--primary-color);
    border: 2px solid var(--black);
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    transition: transform 0.1s ease-out;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2;
    will-change: transform; 
}
.experience_container{
    padding: 60px 0px;
}
.projects-container_header{
    position: sticky;
    top: 90px;
    background-color: var(--bg-fade-color);
    z-index: 102;
}
.projects_container .my-projects{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 200px);
    gap: 10px;
    padding: 10px;
    width: 100%;
}
@media screen and (max-width: 1100px){
    section.experiences{
        padding: 60px;
    }
    section.projects{
        padding: 60px 20px;
    }
    .heroDescription h1{
        font-size: 5.5em;
    }
}
@media  screen and (max-width: 940px) {
    section.hero{
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 40px;
        padding-top: 90px;
    }
    .heroDescription{
       text-align: center;
    }
    .heroDescription h1{
        font-size: 5em;
        line-height: 90px;
        text-align: center;
    }
    .heroDescription .actions{
        padding: 20px 0px;
        justify-content: center;
    }
    .heroImg{
        width: 280px;
        height: 280px;
        margin: 40px 0px;
    }
    section.skills{
        padding: 40px;
    }
    .scholar-career{
        max-width: 300px;
        min-width: 300px;
    }
}
@media  screen and (max-width: 720px) {
    .heroDescription h4::before{
        width: 80px;
    }
    .scholar-career{
        max-width: 250px;
        min-width: 250px;
    } 
    .scholar-career.card{
        padding: 15px 10px;
        font-size: 1em;
    }
    .scholar-career .step{
        font-size: 1.8em;
        min-height: 40px;
        min-width: 40px;
        height: 40px;
        width: 40px;
    } 
}
@media screen and (max-width: 615px) {
    .projects_container .my-projects{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        /* grid-template-rows: repeat(10, 200px);   */
    }
    section.projects{
        padding: 60px 10px;
    }
}
@media screen and (max-width: 597px) {
    .scholar-career_container div.sliderLevel{
        margin-left: 0px;
    }
    .career .scholar-career{
        flex-wrap: wrap;
        min-width: calc(100vw - 100px);
    }
    .heroDescription h4{
        flex-direction: column;
        padding: 20px 0px;
        position: relative;
    }
    .heroDescription h4::before{
        position: absolute;
        margin: 0px;
        width: 150px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
}