section{
    padding: 5rem;
}
section:nth-of-type(odd){
    background-color: var(--bg-color);

}
section:nth-of-type(even){
    background-color: var(--bg-fade-color);
}
@media screen and (max-width: 774px) {
    section{
        padding: 4rem;
    }
}