section{
    padding: 5rem;
}
section:nth-of-type(odd){
    background-color: var(--bg-color);

}
section:nth-of-type(even){
    background-color: var(--bg-fade-color);
}

.projects-container_header{
    position: sticky;
    top: 3.75rem;
    background-color: var(--bg-fade-color);
    z-index: 102;
}
.projects_container .my-projects{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 200px);
    gap: 0.625rem;
    padding: 0.625rem;
    width: 100%;
}
@media screen and (max-width: 1100px){
    section.projects{
        padding: 3.75rem 1.25rem;
    }
}

@media screen and (max-width: 615px) {
    .projects_container .my-projects{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 300px);
    }
    section.projects{
        padding: 3.75rem 0.625rem;
    }
}
