.hero{
    background-color: var(--bg-color);
    overflow: hidden;
    display: flex;
    padding: 20px 40px;
    align-items: flex-end;
    justify-content: space-between;
}
.heroImg{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 4px solid var(--border-color);
}
.heroImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero img{
    width: 100%;
}