section{
    padding: 80px;
}
section.hero{
    background-color: var(--bg-color);
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 70vh;
}
.heroDescription h4{
    display: flex;
    font-size: 1.6em;
    align-items: center;
}
.heroDescription h4::before{
    content: '';
    width: 150px;
    height: 1px;
    margin-right: 2px;
    background-color: var(--border-color);
}
.heroDescription h3{
    font-size: 2em;
}
.heroDescription h1{
    font-size: 5em;
}
.heroDescription .actions{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.heroImg{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 4px solid var(--border-color);
}
.heroImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero img{
    width: 100%;
}
section.resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 30px;
    background-color: var(--bg-fade-color);
}
.skillsResume_container{
    padding: 40px 0px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
section.skills{
    background-color: var(--bg-color);
}
.skills_container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 0px;
}
@media screen and (max-width: 1100px){
    section.hero{
        padding: 60px;
    }
    .heroDescription h4{
        font-size: 1.4em;
    }
    .heroDescription h4::before{
        width: 120px;
    }
    .heroDescription h3{
        font-size: 1.8em;
    }
    .heroDescription h1{
        font-size: 4.5em;
    }
    .heroImg{
        width: 280px;
        height: 280px;
    }
    .heroImg img{
        width: 100%;
        height: 100%;
    }
    .hero img{
        width: 100%;
    }
    section.resume{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--bg-fade-color);
    }
    .skillsResume_container{
        flex-wrap: wrap;
        gap: 20px;
        align-content: center;
    }  
    section.skills{
        padding: 60px;
    }
}
@media  screen and (max-width: 915px) {
    section.hero{
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 40px;
        padding-top: 90px;
    }
    .heroDescription{
       text-align: center;
    }
    .heroDescription h1{
        font-size: 4em;
        text-align: center;
    }
    .heroDescription .actions{
        padding: 20px 0px;
        justify-content: center;
    }
    .heroImg{
        margin: 40px 0px;
    }
    section.skills{
        padding: 40px;
    }
}