:root{
    --primary-color: rgb(255, 238, 0);
    --underline-color: rgb(247, 222, 0);
    --border-color: black;
    --border-radius: 4px;
    --white: rgb(255, 255, 255);
    --black: black;
    --bg-color: rgb(255, 254, 215);
    --bg-fade-color: #fffaf5;
    --text-secondary: rgb(98, 98, 98);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'playfair';
}

#root{
    max-width: 1600px;
    margin: auto;
}
.primary{
    color: var(--primary-color);
}