:root{
    --primary-color: rgb(255, 247, 0);
    --underline-color: rgb(247, 222, 0);
    --border-color: black;
    --border-radius: 4px;
    --white: rgb(247, 247, 247);
    --black: black;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'playfair';
}