:root{
    --primary-color: rgb(255, 238, 0);
    --primary-dark-color: rgb(255, 230, 0);
    --underline-color: rgb(247, 222, 0);
    --border-color: black;
    --border-secondary: rgb(72, 72, 72);
    --black-secondary: rgb(72, 72, 72);
    --border-radius: 4px;
    --white: rgb(255, 255, 255);
    --black: black;
    --bg-color: rgb(255, 254, 215);
    --bg-fade-color: #fffaf5;
    --text-secondary: rgb(69, 69, 69);
    --default: rgb(143, 143, 143);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'playfair';
}

*:focus{
    outline: none;
}
#root{
    max-width: 1600px;
    margin: auto;
}
.card{
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: var(--border-radius);
    padding: 0.9375rem 1.25rem;
    box-shadow: 0.3125rem 0.3125rem 0px 0px var(--black);
    transition: all 0.2s;
}
.card:hover{
    box-shadow: 2px 2px 0px 0px var(--black);
    transform: translateY(0.3125rem);
}
.primary{
    color: var(--primary-color);
}