:root{
    --primary-color: #2A5B69; 
    --primary-dark-color: #1E434D;
    --underline-color: #2A5B69;
    --border-color: #2C2C2C;
    --border-secondary: #5A5A5A;
    --black-secondary: #454545;
    --black: #1A1A1A;
    --white: rgb(255, 255, 255);
    --bg-color:#F4F7F6;
    --bg-fade-color: #FFFFFF;
    --text-secondary: #535C5E;
    --default: #8E9799;
    --border-radius: 4px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'playfair';
}

*:focus{
    outline: none;
}
#root{
    max-width: 1600px;
    margin: auto;
}
.card{
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: var(--border-radius);
    padding: 0.9375rem 1.25rem;
    box-shadow: 0.3125rem 0.3125rem 0px 0px var(--black);
    transition: all 0.2s;
}
.card:hover{
    box-shadow: 2px 2px 0px 0px var(--black);
    transform: translateY(0.3125rem);
}
.primary{
    color: var(--primary-color);
}