.navbar-container{
    background-color: var(--bg-fade-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 4px solid var(--border-color);
    position: sticky;
    align-items: center;
    top: 0px;
    height: 90px;
    z-index: 999;
}
.navbar-item_container{
    list-style: none;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-item_container.show{
    display: flex;
}
.navbar-item_container.hide{
    display: none;
}
.navbar-item{
    padding: 5px 8px;
    border: 1px solid transparent;
    transition: all 0.2s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}
.navbar-item span{
    display: inline-flex;
    position: absolute;
    bottom: -50px;
    transition: all 0.2s;
    left: 2px;
    align-items: center;
    justify-content: center;
    width: '30px';
    font-size: 1em;
    margin-bottom: 2px;
    height: 100%;   
    transform: scale(0);
}
.navbar-item.isHovered:not(.navbar-item.active){
    padding-left: 1.4rem;
}
.navbar-item.isHovered:not(.navbar-item.active) span{
    transform: scale(1);
    bottom: 0px;
}
.navbar-item a{
    text-decoration: none;
    font-size: 1.2em;
    color: var(--black);
}
.navbar-item.active{
    border-color: none;
    border-radius: var(--border-radius);
    background-color: transparent;
    padding-left: 1.4rem;
}
.navbar-item.active span{
    bottom: 0px;
    transform: scale(1);
    z-index: 2;
}
.navbar-item.active span::before{
    content: '';
    height: 5px;
    width: 5px;
    background-color: var(--primary-color);
    position: absolute;
    z-index: -1;
    bottom: 2px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.navbar-item.active a{
    font-weight: bold;
}
.navbar-item:not(.active)::before{
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    transition: all 0.2s;
    left: 2px;
    background-color: var(--underline-color);
    border-radius: 10px;
}
.navbar-container h2{
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-fill-color: var(--primary-color);
    -webkit-text-stroke-width: 1px;
    font-size: 2em;
    color: var(--black);
}
.navbar-container li.action{
    display: none;
}
.navbar-item:hover::before{
    width: calc(100% - 2px);
}
.r-nav-header{
    display: none;
}
#responsive-action{
    display: none;
}
@media screen and (max-width: 915px){
    .navbar-container{
        padding: 10px 20px;
    }
    .navbar-container li.action{
        display: block;
    }
    .r-nav-header{
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: row;
        border-bottom: 4px solid var(--black);
        justify-content: space-between;
        width: 100%;
        padding: 20px;
        height: 90px;
    }
    #responsive-action{
        display: block;
    }
    #contactMeNavbtn{
        display: none;
    }
    .navbar-item_container{
        display: none;
        position: fixed;
        width: 100%;
        left: 0px;
        align-items: flex-start;
        top: 0px;
        flex-direction: column;
        background-color: var(--bg-fade-color);
        padding: 0px 20px;
    }
}