.navbar-container{
    background-color: var(--bg-fade-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 2.5rem;
    border-bottom: 0.25rem solid var(--border-color);
    position: sticky;
    align-items: center;
    top: 0px;
    height: 3.75rem;
    z-index: 999;
}
.navbar-item_container{
    list-style: none;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-item_container.show{
    display: flex;
}
.navbar-item_container.hide{
    display: none;
}
.navbar-item{
    padding: 0.3125rem 0.5rem;
    border: 1px solid transparent;
    transition: all 0.2s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}
.navbar-item span{
    display: inline-flex;
    position: absolute;
    bottom: -3.125rem;
    transition: all 0.2s;
    left: 0.1rem;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    margin-bottom: 0.125rem;
    height: 100%;   
    transform: scale(0);
}
.navbar-item.isHovered:not(.navbar-item.active){
    padding-left: 1.5rem;
}
.navbar-item.isHovered:not(.navbar-item.active) span{
    transform: scale(0.98);
    bottom: 0px;
}
.navbar-item a{
    text-decoration: none;
    font-size: 1.2em;
    color: var(--black);
}
.navbar-item.active{
    border-color: none;
    border-radius: var(--border-radius);
    background-color: transparent;
    padding-left: 1.4rem;
}
.navbar-item.active span{
    bottom: 0px;
    transform: scale(1);
    z-index: 2;
}
.navbar-item.active span::before{
    content: '';
    height: 0.3125rem;
    width: 0.3125rem;
    background-color: var(--primary-color);
    position: absolute;
    z-index: -1;
    bottom: 0.125rem;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.navbar-item.active a{
    font-weight: bold;
}
.navbar-item:not(.active)::before{
    content: '';
    width: 0%;
    height: 0.125rem;
    position: absolute;
    bottom: 0px;
    transition: all 0.2s;
    left: 0.125rem;
    background-color: var(--underline-color);
    border-radius: 0.625rem;
}
.navbar-container h2{
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-fill-color: var(--primary-color);
    -webkit-text-stroke-width: 1px;
    font-size: 2em;
    color: var(--black);
}
.navbar-container li.action{
    display: none;
}
.navbar-item:hover::before{
    width: calc(100% - 0.125rem);
}
.r-nav-header{
    display: none;
}
#responsive-action{
    display: none;
}
.navbar-title {
    transition: all 0.5s ease;
}

.navbar-title.title-hidden {
    opacity: 0;
    transform: translateY(-20px);
}

.navbar-title.title-visible {
    opacity: 1;
    transform: translateY(0);
}
.navbar-title {
    transition: all 0.5s ease;
}

.navbar-title.title-hidden {
    opacity: 0;
    transform: translateY(-20px);
}

.navbar-title.title-visible {
    opacity: 1;
    transform: translateY(0);
}

/* Menu items animation - Desktop */
.navbar-item.item-hidden {
    opacity: 0;
    transform: translateY(-20px);
}

.navbar-item.item-visible {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.4s ease;
}

/* Menu items animation - Responsive (slide from left) */
.navbar-item.item-hidden-responsive {
    opacity: 0;
    transform: translateX(-100px);
}

.navbar-item.item-visible-responsive {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease;
}

/* Button animation - slides from top */
.action.button-hidden {
    opacity: 0;
    transform: translateY(-30px);
}

.action.button-visible {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease;
}
@media screen and (max-width: 915px){
    .navbar-container{
        height: 3.75rem;
    }
    .navbar-container li.action{
        display: block;
    }
    .r-nav-header{
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: row;
        border-bottom: 0.25rem solid var(--black);
        justify-content: space-between;
        width: 100%;
        padding: 1.29rem 2.5rem;
    }
    #responsive-action{
        display: block;
    }
    #contactMeNavbtn{
        display: none;
    }
    .navbar-item_container{
        display: none;
        position: fixed;
        width: 100%;
        left: 0px;
        align-items: flex-start;
        top: 0px;
        flex-direction: column;
        background-color: var(--bg-fade-color);
        padding: 0px 1.25rem;
    }
    .action.button-hidden {
        opacity: 0;
        transform: translateX(-100px);
    }
    
    .action.button-visible {
        opacity: 1;
        transform: translateX(0);
        transition: all 0.5s ease;
    }
}