.navbar-container{
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 4px solid var(--border-color);
}
.navbar-item_container{
    list-style: none;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    place-content: center;
}
.navbar-item{
    padding: 5px 8px;
    border: 1px solid transparent;
    position: relative;
}
.navbar-item:not(.active)::before{
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    transition: all 0.2s;
    left: 2px;
    background-color: var(--underline-color);
    border-radius: 10px;
}
.navbar-item:hover::before{
    width: calc(100% - 2px);
}
.navbar-item a{
    text-decoration: none;
    font-size: 1.1em;
    color: var(--black);
}
.navbar-item.active{
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    box-shadow: 1px 1px 0px 0px var(--black);
}
.bubble{
    background-color: blue;
    padding: 20px;
    position: absolute;
}
.navbar-item.active a{
    font-weight: bold;
}