.navbar-container{
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 4px solid var(--border-color);
}
.navbar-item_container{
    list-style: none;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    place-content: center;
}
.navbar-item_container.show{
    display: flex;
}
.navbar-item_container.hide{
    display: none;
}
.navbar-item{
    padding: 5px 8px;
    border: 1px solid transparent;
    transition: all 0.2s;
    position: relative;
}

.navbar-container h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-item:not(.active)::before{
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    transition: all 0.2s;
    left: 2px;
    background-color: var(--underline-color);
    border-radius: 10px;
}
.navbar-container li.action{
    display: none;
}
.navbar-item:hover::before{
    width: calc(100% - 2px);
}
.navbar-item a{
    text-decoration: none;
    font-size: 1.1em;
    color: var(--black);
}
.navbar-item.active{
    border-color: none;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
}
.r-nav-header{
    display: none;
}
#responsive-action{
    display: none;
}
.navbar-item.active a{
    font-weight: bold;
}
@media screen and (max-width: 915px){
    body{
        background-color: black;
    }
    .navbar-container{
        padding: 10px 20px;
    }
    .navbar-container li.action{
        display: block;
    }
    .r-nav-header{
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
    }
    #responsive-action{
        display: block;
    }
    #contactMeNavbtn{
        display: none;
    }
    .navbar-item_container{
        display: none;
        position: absolute;
        width: 100%;
        left: 0px;
        top: 0px;
        flex-direction: column;
        background-color: var(--white);
        padding: 0px 20px;
    }
}