.page-loader_container{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 22222222;
    background-color: var(--bg-fade-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.loader .dot{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: var(--primary-color);
    border: 2px solid black;
    transform: translateY(-10px);
}
.loader .dot:nth-of-type(1){
    animation: jump 0.6s ease-in-out 0ms infinite;
}
.loader .dot:nth-of-type(2){
    animation: jump 0.6s ease-in-out 150ms infinite;
}
.loader .dot:nth-of-type(3){
    animation: jump 0.6s ease-in-out 300ms infinite;
}

@keyframes jump{
    0%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
