.project {
    display: flex;
    position: relative;
    margin-top: 100px;
}

.projectDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    flex-wrap: wrap;
}
.projectDescription .p-title {
    position: sticky;
    height: 600px;
    top: 160px;
    gap: 15px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: none;
    transform-origin: center center;
    will-change: transform, opacity;
}

.projectDescription .p-title h3{
    font-size: 4rem;
    text-align: center;
}
.projectTextDescription {
    background-color: white;
    padding: 40px;
    min-width: 400px;
    width: 100%;
    border-radius: 4px;
    height: auto;
    font-size: 1.2em;
    z-index: 1;
    margin-top: 500px;
}
.projectTextDescription h4{
    font-size: 1.4em;
    margin: 10px 0px;
}

.projectTextDescription:last-of-type {
    margin-bottom: 200px;
}
.stacks{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.cube-container {
    width: 600px;
    height: 600px;
    position: sticky;
    top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: center; 
}

.cube {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    will-change: transform;
    transform: rotateX(20deg) rotateY(30deg);
}
.cube:hover{
    transform: rotateX(10deg) rotateY(45deg);
}
.side {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Un fond très léger et flouté pour le côté premium */
    /* background: rgba(255, 255, 255, 0.4); */
    border: 1px solid rgba(0, 0, 0, 0.1); 
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;
    color: #2A5B69; /* Votre bleu rassurant */
}

/* Exemple de faces harmonisées */
.front  { transform: translateZ(150px); }
.back   { transform: translateZ(-150px); }
.left   { transform: rotateY(90deg) translateZ(150px); }
.right  { transform: rotateY(-90deg) translateZ(150px); }
.top    { transform: rotateX(90deg) translateZ(150px); }
.bottom { transform: rotateX(-90deg) translateZ(150px); }

@media screen and (max-width: 1015px){
    .projectTextDescription {
        margin-top: 400px;
    }
    .projectDescription .p-title {
        height: 400px;
    }
    .projectTextDescription {
        max-width: 100%;
        width: 300px;
        padding: 20px;
        min-width: 300px;
    }
    .cube-container {
        width: 400px;
        height: 400px;
        perspective: 800px;
    }
    .cube {
        width: 200px;
        height: 200px;
    }
    /* Exemple de faces harmonisées */
    .front  { transform: translateZ(100px); }
    .back   { transform: translateZ(-100px);}
    .left   { transform: rotateY(90deg) translateZ(100px); }
    .right  { transform: rotateY(-90deg) translateZ(100px); }
    .top    { transform: rotateX(90deg) translateZ(100px); }
    .bottom { transform: rotateX(-90deg) translateZ(100px); }  
}
@media screen and (max-width: 774px) {
    .projectDescription .p-title {
        height: 300px;
    }
    .cube-container{
        display: none;
    }
    .projectTextDescription {
        margin-top: 300px;
        height: 150px;
        width: 98%;
    }
    .projectTextDescription:last-of-type {
        margin-bottom: 100px;
    }
}