.project {
    display: flex;
    position: relative;
    margin-top: 100px;
}

.projectDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    z-index: 30;
    flex-wrap: wrap;
    background-image: url(../images/miamFront.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    transition: all 0.2s;
    background-color: #ffffffd2;
    background-blend-mode: overlay;
}
.projectDescription .p-title {
    position: sticky;
    height: 600px;
    top: 160px;
    gap: 15px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: none;
    transform-origin: center center;
    will-change: transform, opacity;
}

.projectDescription .p-title h3{
    font-size: 4rem;
    text-align: center;
}
.projectTextDescription {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.041);
    min-width: 400px;
    width: 92%;
    border-radius: 4px;
    height: auto;
    font-size: 1.2em;
    transition: all 0.2s linear;
    z-index: 1;
    margin-top: 500px;
    transform: scale(0.6);
    text-align: justify;
}
.projectTextDescription h4{
    font-family: 'poppins';
    font-size: 1.1em;
    margin: 10px 0px;
}

.projectTextDescription:last-of-type {
    margin-bottom: 200px;
}
.stacks{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.cube-container {
    width: 600px;
    height: 600px;
    position: sticky;
    top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: center; 
}

.cube {
    position: relative;
    width: 350px;
    height: 350px;
    transform-style: preserve-3d;
    will-change: transform;
}
.cube:hover{
    transform: rotateX(10deg) rotateY(45deg);
}
.side {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    font-weight: bold;
    color: #2A5B69;
}

.front  { transform: translateZ(175px); }
.back   { transform: translateZ(-175px); }
.left   { transform: rotateY(90deg) translateZ(175px); }
.right  { transform: rotateY(-90deg) translateZ(175px); }
.top    { transform: rotateX(90deg) translateZ(175px); }
.bottom { transform: rotateX(-90deg) translateZ(175px); }

@media screen and (max-width: 1015px){
    .cube-container {
        top: 250px;
    }
    .projectDescription .p-title {
        top: 250px;
    }
    .projectTextDescription {
        margin-top: 400px;
    }
    .projectDescription .p-title {
        height: 400px;
    }
    .projectTextDescription {
        padding: 20px;
        min-width: 300px;
    }
    .cube-container {
        width: 400px;
        height: 400px;
        perspective: 800px;
    }
    .cube {
        width: 250px;
        height: 250px;
    }
    .front  { transform: translateZ(125px); }
    .back   { transform: translateZ(-125px);}
    .left   { transform: rotateY(90deg) translateZ(125px); }
    .right  { transform: rotateY(-90deg) translateZ(125px); }
    .top    { transform: rotateX(90deg) translateZ(125px); }
    .bottom { transform: rotateX(-90deg) translateZ(125px); }  
}
@media screen and (max-width: 774px) {
    .projectDescription .p-title {
        height: 300px;
    }
    .cube-container{
        display: none;
    }
    .projectTextDescription {
        margin-top: 300px;
    }
    .projectTextDescription:last-of-type {
        margin-bottom: 100px;
    }
}