.project {
    display: flex;
    position: relative;
    margin-top: 100px;
}

.projectDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    flex-wrap: wrap;
}
.projectDescription .p-title {
    position: sticky;
    height: 600px;
    top: 160px;
    gap: 15px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: none;
    transform-origin: center center;
    will-change: transform, opacity;
}

.projectDescription .p-title h3{
    font-size: 4rem;

}
.projectTextDescription {
    background-color: white;
    border: 2px solid var(--primary-color);
    box-shadow: 0.3125rem 0.3125rem 0px 0px var(--black);
    padding: 40px;
    min-width: 400px;
    border-radius: 4px;
    position: sticky;
    z-index: 1;
    margin-top: 500px;
}

.projectTextDescription:last-of-type {
    margin-bottom: 200px;
}
.cube-container {
    width: 500px;
    height: 500px;
    position: sticky;
    top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: center; 
}

.cube {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    will-change: transform;
    transform: rotateX(20deg) rotateY(30deg);
}
.cube:hover{
    transform: rotateX(10deg) rotateY(45deg);
}
.side {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Un fond très léger et flouté pour le côté premium */
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.1); 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #2A5B69; /* Votre bleu rassurant */
}

/* Exemple de faces harmonisées */
.front  { transform: translateZ(150px); background: rgba(158, 199, 228, 0.8); }
.back   { transform: translateZ(-150px); background: rgba(178, 215, 136, 0.8); }
.left   { transform: rotateY(90deg) translateZ(150px); background: rgba(164, 148, 122, 0.8); }
.right  { transform: rotateY(-90deg) translateZ(150px); background: rgba(243, 229, 245, 0.8); }
.top    { transform: rotateX(90deg) translateZ(150px); background: rgba(142, 92, 67, 0.8); }
.bottom { transform: rotateX(-90deg) translateZ(150px); background: rgba(224, 242, 241, 0.8); }
