.projects-container_header{
    position: sticky;
    top: calc(3.75rem + 1.5rem);
    background-color: var(--bg-fade-color);
    z-index: 102;
}
@media screen and (max-width: 525px) {
    section.projects{
        padding: 4rem 20px;
    }
}