.project{
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    border: 2px solid var(--black);
    box-shadow: 5px 5px 0px 0px var(--black);
    cursor: pointer;
    transition: all 0.2s;
}
.project:hover{
    box-shadow: 2px 2px 0px 0px var(--black);
    transform: translateY(5px);
}
.project:not(.project.disabled):hover .project-header{
    opacity: 0.8;
}
.project.disabled::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.752);
    width: 100%;
    z-index: 10;
}
.project.disabled{
    border-color: var(--border-secondary);
    cursor: not-allowed;
    box-shadow: 5px 5px 0px 0px var(--black-secondary);
}
.project-header{
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0;
    height: 100%;
    gap: 10px;
    z-index: 99;
    transition: all 0.4s;
}
.project img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    object-position: top left;
}
.project:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.project:nth-of-type(2) {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.project:nth-of-type(3) {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 6;
}

.project:nth-of-type(4) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
}

.project:nth-of-type(5) {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7;
}

.project:nth-of-type(6) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 9;
}

.project:nth-of-type(7) {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 8;
}

.project:nth-of-type(8) {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 11;
}

.project:nth-of-type(9) {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 9;
}

.project-footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 15px 10px;
    display: flex;
    gap: 5px;
    border-top: 2px solid var(--black);
    background-color: var(--bg-fade-color);
}
.project-footer .skills-card{
    padding: 8px;
}
@media screen and (max-width: 615px) {
    .project{
        grid-column: 1 / -1 !important;
        grid-row: auto !important;
    }
}