section.skills{
    display: flex;
    flex-direction: column;
}
.skills_container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 0.9375rem;
    row-gap: 120px;
    padding: 7rem 0px;
}
@media  screen and (max-width: 976px) {
    section.skills{
        padding: 2.5rem 40px;
    }
}