.skills-card{
    padding: 0px 0.7rem;
    display: inline-flex;
    height:  3.5rem;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    background-color: var(--white);
    border-radius: 2rem;
    font-weight: bold;
    border: 2px solid var(--black);
    font-size: 1em;
    box-shadow: 3px 3px 0px 0px var(--black);
    transition: all 0.2s;
    cursor: pointer;
    position: relative;
    user-select: none;
}
.skills-card:hover, .skills-card.active{
    background-color: var(--primary-color);
    transform: translateY(3px);
    color: var(--white);
    box-shadow: 1px 1px 0px 0px var(--black);
}
.skills-card .tooltip.visible{
    transform: scale(1);
    top: -6rem;
    opacity: 1;
    color: var(--black);
}

@media screen and (max-width: 300px) {
    .skills-card .tooltip.visible{
        top: -5.8rem;
    }
}