.skills-resume_card{
    max-width: 350px;
    height: 180px;
    cursor: pointer;
}
.skills-resume_card img{
    width: 50px;
    height: 50px;
    margin: 5px 0px;
}
.skills-resume_card p{
    color: var(--text-secondary);
} 