section.resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 1.875rem;
    overflow: hidden;
    width: 100%;
}
.skillsResume_container{
    padding: 2.5rem 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: center;
    will-change: transform; 
    transition: transform 0.1s ease-out;
}