.skills-resume_card {
    max-width: 350px;
    height: 180px;
    cursor: pointer;
    opacity: 0; 
    
    /* 1. Transition beaucoup plus fluide grâce au cubic-bezier */
    transition: opacity 0.8s ease-in-out, transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}

/* 2. Réduction des distances de déplacement (40px au lieu de 100px) */
.skills-resume_card.from-left {
    transform: translateX(-40px);
}

.skills-resume_card.from-top {
    transform: translateY(-40px);
}

.skills-resume_card.from-right {
    transform: translateX(40px);
}

/* --- État Final (Visible) --- */
.skills-resume_card.visible {
    transform: translate(0, 0); 
    opacity: 1;
}


.skills-resume_card img{
    width: 50px;
    height: 50px;
    margin: 5px 0px;
}
.skills-resume_card p{
    color: var(--text-secondary);
}