.socialsContainer{
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}
.socialsContainer{
    text-decoration: none;
}
.socialsContainer a{
    transform: scale(1);
    transition: all 0.3s;
}
.socialsContainer a:hover{
    transform: scale(1.5);
}
.socialsContainer svg{
    font-size: 2em;
    color: var(--primary-color);
    cursor: pointer;
}
@media screen and (max-width: 930px) {
    .socialsContainer{
        justify-content: flex-start;
    }
}