.tooltip{
    background-color: white;
    padding: 1rem;
    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 9.37rem;
    border-radius: var(--border-radius);
    z-index: 80;
    border: 2px solid var(--border-color);
    box-shadow: 3px 3px 0px 0px var(--black);
    transform: scale(0);
    opacity: 0;
    transition: all 0.5s;
}
.tooltip::before{
    content: '';
    height: 0px;
    width: 0px;
    position: absolute;
    border: none;
    border-bottom: 1.4rem solid black;
    border-left: 1.4rem solid transparent;
    bottom: -0.7rem;
    z-index: -1;
    left: 0.6rem;
    background-color: white;
    transform: rotate(45deg);
}
.tooltip.spaceRight::before{
    left: calc(100% - 1.873rem);
}
.tooltip .tooltip-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tooltip .tooltip-header svg{
    font-size: 0.8em;
}
.tooltip .close-tooltip{
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}
.tooltip .close-tooltip:hover{
    color: var(--primary-dark-color);
}
.tooltip .tooltip-header h2{
    font-size: 1.1em;
    color: var(--primary-color);
}
.tooltip p{
    font-weight: 500;
    margin: 0.3125rem 0;
    font-family: 'poppins';
}
@media screen and (max-width: 300px) {
    .tooltip{
        left: -1.8rem;
    }
    .tooltip::before{
        left: 1.8rem;
    }  
}